/* Acá va tu código */

*{
  margin: 0;
  padding: 0;
}

body{
background-image:  url(imagenes/oficina32.png);
background-repeat: no-repeat;
background-size: 100%;
background-attachment: fixed;
size: 100%;
width: 100%;
height: 100%;
font-family: verdana;
color:	#c8dc2b;
}



#info{
font-size: 11px;
font-stretch:extra-condensed;
color:#e6fca4;
}

#tumensaje, #tumensaje1{
  font-weight: bold;
  }


#desplazado, #desplazado1{
font-weight: lighter;
}

button{
background-color:#1e268a;
padding: 8px;
color:#eaeaea;
border-radius: 7px;
}

button:hover{
background-color:#eaeaea;
color:#004673;
}

#limpiar, #limpiar2{
background-color:#1e268a;
padding: 4px;
height: 30px;
color:#eaeaea;
font-size: 12px;
border-radius: 7px;
}

#limpiar:hover{
background-color:#eaeaea;
color:#004673;
}

#limpiar0:hover{
background-color:#eaeaea;
color:#004673;
}

textarea{
resize:none ;
padding: 10px;
font-family: verdana;
box-sizing:inherit;
max-width: 75%;
min-width: 75%;
border-color:#eaeaea;
border-width: thin;
background-color: #e6fca4;
}

#offset{
font-family: verdana;
}

#offset{
padding:8px;
width:180px;
min-width: 180px;
border-color:#eaeaea;
border-width:thin;
background-color: #e6fca4;
}

#root{
  /* background:#c8dc2b; */
  background-image: repeating-linear-gradient(#044774,#065f9b);
  font-family: serif;
  font-size: 21px;
  font-weight: bold;
  color: 	#c8dc2b;
  width: 80%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top:50px;
  margin-bottom: 1px;
  text-align:center;
  }


.tables{
background:#c8dc2b;
background-image: repeating-linear-gradient(#044774,#065f9b);
padding: 0%;
width: 80%;
height:455px;
margin-left: auto;
margin-right: auto;
margin-top:1px;
}

#division1{

  display: none;
}

#division2{
  display: none;
}